.information__container{
    max-width: 100rem;
    margin: 0 auto;
}
.information__tittle{
    font-size: 2.8rem;
}
.information__content{
    font-size: 2rem;
}
.information{
    margin: 2.4rem auto;
}
.sevices{
    margin-top: 6rem;
}
.services__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 6rem;
    max-width: 100rem;
    margin: 0 auto;
}
.card--cyan{
    grid-row: 1/3;
    align-self: center;
}
.card--blue{
    grid-area: 1/3/3/4;
    align-self: center;
}
.card{
    width: 100%;
}